<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
		
		<h1><b>Mi Carrito</b></h1>
		<br>
		
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">id</th>
						<th scope="col">Ropa</th>
						<th scope="col">Carrito</th>
						<th scope="col">Departamento</th>
						<th scope="col">Distrito</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="detalleCarrito: ${listaDetalleCarritos}">
						<th scope="row" th:text="${detalleCarrito.id}">1</th>
						<td th:text="${detalleCarrito.ropa.id}">.</td>
						<td th:text="${detalleCarrito.carrito.id}">.</td>
						<td th:text="${detalleCarrito.departamento}">.</td>
						<td th:text="${detalleCarrito.distrito}">.</td>
					</tr>

				</tbody>
			</table>	
			
						<p class="person text-center">
							<a th:href="@{/modernstores/tendencia}" class="btn btn-primary my-2"> <i class="fas fa-plus-circle"></i> Realizar Compra</a>
						</p>
		</div>
		
		
	</section>
	</main>



	<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>