<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<main role="main">
	<section class="jumbotron text-left">



		<div class="site-section border-bottom" id="team-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-12 text-center">
						<h1 class="container">Tendencias</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/casacxxx.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Puma</h3>
							<p class="position text-muted">RTG FZ Chaqueta</p>
							<p class="mb-4">
								id: <br> Precio: <br> Stock: <br> Descripcion: <br>
							</p>
						</div> 
					</div>

					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/pantalonNegro.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Pedal</h3>
							<p class="position text-muted">PSG FZ Pantalon Negro</p>
							<p class="mb-4">
								id: 1<br> Precio: 50<br> Stock: 30<br> Descripcion: Pantalon de colo negro<br>

							</p>

						</div>
					</div>


					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/pantalonMelon.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Pusher</h3>
							<p class="position text-muted">POE LZ Pantalon Melon</p>
							<p class="mb-4">
								id: 2<br> Precio: 40<br> Stock: 50<br> Descripcion: Pantalon color melon<br>

							</p>

						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/camisaNegra.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Lorenzini</h3>
							<p class="position text-muted">GGW ZZ Camisa Negra</p>
							<p class="mb-4">
								id: 3<br> Precio: 40<br> Stock: 40<br> Descripcion: Camisa color negro<br>

							</p>

						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/bata.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Tumbull</h3>
							<p class="position text-muted">MNE LU Bata</p>
							<p class="mb-4">
								id: 4<br> Precio: 40<br> Stock: 20<br> Descripcion: Bata ultimo modelo<br>

							</p>

						</div>
					</div>


					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/casacaPop.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Grey</h3>
							<p class="position text-muted">HBD NY Casaca</p>
							<p class="mb-4">
								id: 5<br> Precio: 80<br> Stock: 15<br> Descripcion: Casaca tendencia invierno<br>

							</p>

						</div>
					</div>


					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/short.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Dunkelvolk</h3>
							<p class="position text-muted">SRT MP Shorts</p>
							<p class="mb-4">
								id: 6<br> Precio: 60<br> Stock: 42<br> Descripcion: Shorts en tendencia<br>

							</p>

						</div>
					</div>


					<div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade"
						data-aos-delay="100">
						<div class="person text-center">
							<img src="/images/poloNegro.jpg" alt="Image"
								class="img-fluid rounded w-75 mb-3">
							<h3>Puma</h3>
							<p class="position text-muted">PNG LQ Polo Megro</p>
							<p class="mb-4">
								id: 7<br> Precio: 40<br> Stock: 50<br> Descripcion: Polo color negro<br>

							</p>

						</div>

						<p class="person text-center">
							<a th:href="@{/modernstores/tendencia/nuevo}" class="btn btn-primary my-2"> <i class="fas fa-plus-circle"></i> Realizar Compra</a>
							<a th:href="@{/modernstores/ropacarrito/nuevo}" class="btn btn-secondary my-2"><i class="fas fa-cart-plus"></i> Agregar a Carrito</a>
						</p>

					</div>

				</div>

			</div>

		</div>

	</section>
	</main>




	<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>