<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Programación en Web">
<meta name="author" content="Axel Yataco">

<title>Modern Store</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
<link rel="stylesheet" th:href="@{/css/solid.min.css}">

</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo03"
				aria-controls="navbarTogglerDemo03" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="@{/modernstores/starter/inicio}"> <i class="fas fa-store-alt"></i> Modern Store</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo03">

				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li sec:authorize="hasRole('ROLE_CLIENTE')" class="nav-item active"><a class="nav-link" th:href="@{/modernstores/tendencia}">Tendencias
							<span class="sr-only">(current)</span>
					</a></li>

					 <li sec:authorize="hasAnyRole('ROLE_CLIENTE', 'ROLE_ADMINISTRADOR')" class="nav-item active"><a class="nav-link" th:href="@{/modernstores/clientes}">Clientes
		             </a></li>

					<li sec:authorize="hasAnyRole('ROLE_COMERCIANTE', 'ROLE_ADMINISTRADOR', 'ROLE_CLIENTE')" class="nav-item active"><a class="nav-link" th:href="@{/modernstores/comerciantes}">Comerciantes
					</a></li>
					
					<li sec:authorize="hasRole('ROLE_ADMINISTRADOR')"  class="nav-item active"><a class="nav-link" th:href="@{/modernstores/suscripciones}">Suscripciones
					</a></li>
					
					<li sec:authorize="hasAnyRole('ROLE_CLIENTE')" class="nav-item active"><a class="nav-link" th:href="@{/modernstores/tendencia/listarCompras}">Mis Compras
					</a></li>
					
					<li sec:authorize="hasRole('ROLE_CLIENTE')" class="nav-item active"><a class="nav-link" th:href="@{/modernstores/ropacarrito/listarRopaCarrito}">Mi Carrito
					</a></li>
					
					<li  sec:authorize="isAnonymous()"  class="nav-item">
			     <a class="btn btn-success"th:href="@{/modernstores/inicio/login}" aria-disabled="true"><i class="fas fa-sign-out-alt"></i>Iniciar Sesión</a>
		   
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				   </li>
		      <li sec:authorize="isAuthenticated()" class="nav-item">
		        <a class="btn btn-danger" th:href="@{/logout}" aria-disabled="true"><i class="fas fa-sign-out-alt"></i>: <span sec:authentication="name">Username</span></a>
		      </li>
				
			</div>
		</nav>
	</header>
	<section>
		<h1>Hello, world!</h1>
	</section>
	<footer class="page-footer font-small unique-color-dark" style="background-color:#1B2631;" th:fragment="footer">

		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/chosen.jquery.min.js}"></script>
		<script th:src="@{/js/fontawesome.min.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>

		<div style="background-color: #6351ce;">
			<div class="container">

				
				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center">

				<!-- Grid column -->
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0" style="color: #FFFFFF;">Puedes contactarnos a traves de nuestras redes sociales!</h6>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-md-6 col-lg-7 text-center text-md-right">

						<!-- Facebook -->
						<a class="fb-ic"> <i class="fab fa-facebook-f white-text mr-4">
						</i>
						</a>
						<!-- Twitter -->
						<a class="tw-ic"> <i class="fab fa-twitter white-text mr-4">
						</i>
						</a>
						<!-- Google +-->
						<a class="gplus-ic"> <i
							class="fab fa-google-plus-g white-text mr-4"> </i>
						</a>
						<!--Linkedin -->
						<a class="li-ic"> <i
							class="fab fa-linkedin-in white-text mr-4"> </i>
						</a>
						<!--Instagram-->
						<a class="ins-ic"> <i class="fab fa-instagram white-text">
						</i>
						</a>

					</div>
					<!-- Grid column -->

				</div>
				<!-- Grid row-->

			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3">

				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold" style="color: #FFFFFF;">Modern Store</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p style="color: #FFFFFF;">Somos el portal interdimensional de las compras. Queremos hacer tu vida más sencilla, tú solo preocúpate de encontrar al elegido entre nuestros megatones de productos.!</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: #FFFFFF;">Productos</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Ropa Formal</a>
					</p>
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Ropa Deportiva</a>
					</p>
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Ropa Elegante</a>
					</p>
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Ropa Casual</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: #FFFFFF;">Enlaces utiles</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Tu cuenta</a>
					</p>
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Conviertete en afiliado</a>
					</p>
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Envio Tarifas</a>
					</p>
					<p>
						<a href="#!" style="text-decoration: none; color: #FFFFFF;">Ayuda</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold" style="color: #FFFFFF;">Contactanos</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p style="color: #FFFFFF;">
						<i class="fas fa-home mr-3"></i> Lima, Chorrillos 10012, Peru
					</p>
					<p style="color: #FFFFFF;">
						<i class="fas fa-envelope mr-3"></i> info@ModernStore.com
					</p>
					<p style="color: #FFFFFF;">
						<i class="fas fa-phone mr-3"></i> + 01 234 567 88
					</p>
					<p style="color: #FFFFFF;">
						<i class="fas fa-print mr-3"></i> + 01 234 567 89
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3" style="color: #FFFFFF; background-color:#17202A;">
			© 2020 Copyright: <a href="https://soxand.github.io">
				ModernStore.com</a>
		</div>
		<!-- Copyright -->

	</footer>


</body>
</html>