<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<header th:replace="layout/layout::header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center">
				<div class="card-header">Editar Clientes</div>
				<div class="card-body text-left">

					<form th:action="@{/modernstores/clientes/save}" th:object="${cliente}"
						method="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="nombres">Nombres</label> <input type="text"
									class="form-control" th:field="*{nombres}"
									placeholder="ingrese sus nombres" th:errorclass="'form-control alert-danger'">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('nombres')}" 
									th:errors="*{nombres}"></small>
							</div>
							<div class="form-group col-md-6">
								<label for="apellidos">Apellidos</label> <input type="text"
									class="form-control" th:field="*{apellidos}"
									placeholder="ingrese sus apellidos" th:errorclass="'form-control alert-danger'">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('apellidos')}" 
									th:errors="*{apellidos}"></small>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="direccion">Direccion</label> <input type="text"
									class="form-control" th:field="*{direccion}"
									placeholder="ingrese su direccion" th:errorclass="'form-control alert-danger'">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('direccion')}" 
									th:errors="*{direccion}"></small>
							</div>
							<div class="form-group col-md-6">
								<label for="fechaNacimiento">Fecha de nacimiento</label> <input type="date"
									class="form-control" th:field="*{fechaNacimiento}"
									placeholder="ingrese su fecha de nacimiento">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="correo">Correo</label> <input type="text"
									class="form-control" th:field="*{correo}"
									placeholder="example@email.com" th:errorclass="'form-control alert-danger'">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" 
									th:errors="*{correo}"></small>
							</div>
							<div class="form-group col-md-6">
								<label for="usuario">Usuario</label> <input type="text"
									class="form-control" th:field="*{usuario}"
									placeholder="ingrese su usuario" th:errorclass="'form-control alert-danger'">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('usuario')}" 
									th:errors="*{usuario}"></small>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="password">Password</label> <input type="text"
									class="form-control" th:field="*{password}"
									placeholder="ingrese su password" th:errorclass="'form-control alert-danger'">
									<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" 
									th:errors="*{password}"></small>
							</div>
						</div>

						<button type="submit" class="btn btn-success">
							<i class="fas fa-save"></i> Grabar
						</button>
						<a th:href="@{/modernstores/clientes}" class="btn btn-danger"><i
							class="fas fa-ban"></i> Cancelar </a>
					</form>


				</div>
				<div class="card-footer text-center"></div>
			</div>

		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>