<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>

	<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
			<h1>Nosotros</h1>
			<p class="lead text-muted">Somos una tienda online con muchas
				ganas de ayudar a todas las personas, brindandoles la comodidad de
				pedir su ropa desde cualquier lugar y con la seguridad que cualquier
				pedido les llegara en las mejores condiciones!</p>
		</div>
	</section>
	</main>



	<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>