<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"> </header>
	
	<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
			<h1>Nosotros</h1>
			<p class="lead text-muted">Somos una tienda online com muchas ganas de ayudar a todas las personas, brindandoles la comodidad de pedir su ropa desde cualquier lugar y con la seguridad que cualquier pedido les llegara en las mejores condiciones!</p>
		</div>
	</section>
	</main>
	
	
	
	
    <div class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-sub-title">El Equipo</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="images/AxelFoto.jpeg" alt="Image" class="img-fluid rounded w-75 mb-3">
              <h3>Axel Yataco</h3>
              <p class="position text-muted">Gerente General</p>
              <p class="mb-4">El ingrediente mas importante es levantarte y hacer algo. Muchas personas tienen ideas, pero solo algunas deciden hacer algo hoy. El verdadero emprendedor actua en lugar de soniar.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="person text-center">
              <img src="images/JosephFoto.jpeg" alt="Image" class="img-fluid rounded w-75 mb-3">
              <h3>Joseph Samudio</h3>
              <p class="position text-muted">Gerente de De Ventas</p>
              <p class="mb-4">“Si no puedes volar, corre, si no puedes correr, camina, si no puedes caminar, gatea. Sin importar lo que hagas, sigue avanzado hacia adelante”.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="person text-center">
              <img src="images/AlexisFotoo.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
              <h3>Alexis Campos</h3>
              <p class="position text-muted">Marketing</p>
              <p class="mb-4">“No deberías enfocarte en por qué no puedes hacer algo, que es lo que la mayoría de la gente hace. Sino en por qué no puedes hacerlo y ser una de las excepciones”.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="person text-center">
              <img src="images/CesarFoto.jpeg" alt="Image" class="img-fluid rounded w-75 mb-3">
              <h3>Cesar Rojas</h3>
              <p class="position text-muted">Co-Founder</p>
              <p class="mb-4">El precio del exito es trabajar duro y la determinacion de que, sin importar si perdiste o ganaste, diste lo mejor de ti mismo en el proyecto .</p>
            </div>
          </div>
        </div>
      </div>
    </div>

	<footer th:replace="layout/layout :: footer"> </footer>
</body>
</html>